{% extends 'base.html.twig' %}

{% block title %}{{app.user.firstname}}-Mes adresses{% endblock %}

{% block content %}
     
<div class="container">
    
    <h1>Mes adresses</h1>
    <a href="" class="btn btn-info btn-sm float-right" >Ajouter une adresse</a>
    {{app.user.firstname}} c'est dans cette espace que vous allez gérer vos adresses
    <hr>
    <a href="{{path('app_account')}}">Retour</a><br>
    <hr>
    {% if app.user.addresses| length == 0 %}
    Vous n'avez pas encore ajouté d'adresse dans votre compte client.
    Pour en ajouter une,veuillez <a href="{{path('app_account_address_add')}}">Cliquer ici</a>
    
    {% else %}

    <div class="row">
    {% for address in app.user.addresses  %}

        <div class="col-col-md-4">
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ address.name }}</h5>
                    <p class="card-text">
                    {{address.address}}, <br>
                    {{address.postal}} - {{address.city}} 

                    </p>
                    <a href="#">Modifier</a> | <a href="#">Supprimer</a>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>


    
    
    {% endif %}

    
</div>


{% endblock %}